<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href = "../css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <nav class="navbar navbar-light bg-light icon koffee">
            <a class="navbar-brand">
                <img src="../image/school.png" width="30" height="30" class="d-inline-block align-top" alt="">
                School Register
            </a>
            </nav>
            </div>
        </nav>
        <div class="container">
            <form action="/users/login" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name = "email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "password">
                </div>

                <button type="submit" id = "submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>

    </body>
</html>