    <form action="/users" method="POST" autocomplete="off" id="sign-up">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name" name = "name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Age</label>
            <input type="text" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Enter age" name = "age">
            </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name = "email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "password">
        </div>

        <button type="submit" id = "submit" class="btn btn-primary">Sign Up</button>
    </form>